<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords"
          content="сервис, ремонт, ремонт бытовой техники"/>
    <meta name="description"
          content="Ремонт крупной и мелкой бытовой техники, мобильных телефонов"/>
    <title>Фиксики</title>
    <link href="css/fixies_forms.css" rel="stylesheet" type="text/css"/>
    <link href="css/fixies_fonts.css" rel="stylesheet" type="text/css"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
</head>
<body ng-app="fx-front">
<div id="fxContainer">

    <div id="fxMidContainer" ng-controller="indexController">

        <div id="fxTopLogo">
        </div>  <!-- id="fxTopLogo" -->

        <div id="fxCredentialsBar">

            <div id="fxLoginBar">

                <div class="nav-item" ng-show="!isUserLoggedIn()">
                    <form class="align-middle" ng-submit="tryToAuth()">
                        <div class="input-group input-group-sm" style="padding: 4px;">


                            <input id="fxLoginEntryBar" ng-model="user.login" type="text" placeholder="Логин">

                            <input id="fxPasswordEntryBar" ng-model="user.password" type="password"
                                   placeholder="Пароль">

                            <button id="fxEntryButton"
                                    style="margin-left: 10px;" type="submit"><span
                                    class="credentialsBarFont"> Войти </span>
                            </button>

                        </div>
                    </form>

                </div>  <!-- class="nav-item"   -->

                <div id="fxExitButtonContainer" ng-show="isUserLoggedIn()">
                    <button class="fxExitButton" ng-click="tryToLogout()"><span class="credentialsBarFont">Выйти</span>
                    </button>
                </div>  <!-- id="fxExitButtonContainer"  -->
            </div>  <!-- id="fxLoginBar"   -->
                <div id="fxRegisterButton" ng-hide="isUserLoggedIn()">
                    <a class="nav-link" href="#!/create_user"><span class="credentialsBarFont">Регистрация</span></a>

                </div>   <!-- id="fxRegisterButton"   -->



        </div>  <!-- id="fxCredentialsBar" -->

        <div id="fxMenuBar">


            <div class="fxTopHorizontalMenu">

                <!--######################################-->
                <!--Работающий вариант 1 - начало - -->
                <!--######################################-->

                <a href="#!/" class="dropbtn"> Главная</a>
                <a href="#!/order_request" class="dropbtn">Оформление заказа</a>
                <a href="#!/order_status" class="dropbtn">Состояние заказа</a>
                <div class="dropdown" ng-hide="isUserAdmin()">
                    <button class="dropbtn">Меню администратора
                    </button>
                    <div class="dropdown-content">
                        <a href="#!/order_raise">Сформировать заказ</a>
                        <a href="#!/order_edit">Редактировать заказ</a>
                    </div>
                </div>
                <div class="dropdown" ng-hide="isUserMaster()">
                    <button class="dropbtn">Меню мастера
                    </button>
                    <div class="dropdown-content">
                        <a href="#!/order_se_edit">Дополнить заказ</a>
                    </div>
                </div>
                <div class="dropdown" ng-hide="isUserSuperUser()">
                    <button class="dropbtn">Меню сисадмина
                    </button>
                    <div class="dropdown-content">
                        <a href="#!/order_se_edit">Панель управления</a>
                    </div>
                </div>

                <!--######################################-->
                <!--Работающий вариант 1 - конец - -->
                <!--######################################-->


            </div>  <!-- class="fxTopHorizontalMenu"   -->


        </div>  <!-- id="fxMenuBar"  -->


        <!--        <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
        <!--            <div class="collapse navbar-collapse" id="navbarNav">-->
        <!--                <ul class="navbar-nav">-->
        <!--                    <li class="nav-item">-->
        <!--                        <a class="nav-link" href="#!/" style="font-weight: bold;">Spring Web Store</a>-->
        <!--                    </li>-->
        <!--                    <li class="nav-item">-->
        <!--                        <a class="nav-link" href="#!/store">Каталог товаров</a>-->
        <!--                    </li>-->
        <!--                    <li class="nav-item" ng-show="isUserLoggedIn()">-->
        <!--                        <a class="nav-link" href="#!/create_product">(Служебная функция) Создать товар</a>-->
        <!--                    </li>-->
        <!--                    <li class="nav-item" ng-show="!isUserLoggedIn()">-->
        <!--                        <form class="align-middle" ng-submit="tryToAuth()">-->
        <!--                            <div class="input-group input-group-sm" style="padding: 4px;">-->
        <!--                                &lt;!&ndash;                                <input id="navLoginField" class="form-control" ng-model="user.username" type="text"&ndash;&gt;-->
        <!--                                &lt;!&ndash;                                       aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">&ndash;&gt;-->


        <!--                                <input id="navLoginField" class="form-control" ng-model="user.login" type="text"-->
        <!--                                       aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">-->

        <!--                                <input id="navPasswordField" class="form-control" ng-model="user.password"-->
        <!--                                       type="password"-->
        <!--                                       aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">-->

        <!--                                <button id="navLoginSubmit" class="btn btn-outline-warning btn-sm"-->
        <!--                                        style="margin-left: 10px;" type="submit">Войти-->
        <!--                                </button>-->

        <!--                            </div>-->
        <!--                        </form>-->
        <!--                    </li>-->
        <!--                    <li class="nav-item" ng-show="isUserLoggedIn()" style="padding: 4px;">-->
        <!--                        <button class="btn btn-outline-secondary btn-sm" ng-click="tryToLogout()">Выйти</button>-->
        <!--                    </li>-->
        <!--                    <li class="nav-item" ng-hide="isUserLoggedIn()">-->
        <!--                        <a class="nav-link" href="#!/create_user">Регистрация</a>-->
        <!--                    </li>-->

        <!--                </ul>-->
        <!--            </div>-->
        <!--        </nav>-->


        <ng-view>

            <!--  use <div id="fxNgAppSection">  for routing html page    -->

        </ng-view>


    </div> <!-- id="fxMidContainer" -->

</div>  <!-- id="fxContainer" -->

<script src="index.js"></script>
<script src="front_page/front_page.js"></script>
<script src="order_request/order_request.js"></script>
<script src="order_status/order_status.js"></script>
<script src="order_raise/order_raise.js"></script>
<script src="order_edit/order_edit.js"></script>
<script src="order_se_edit/order_se_edit.js"></script>
<script src="panel/panel.js"></script>
<script src="create_user/create_user.js"></script>

</body>
</html>