<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords"
          content="сервис, ремонт, ремонт бытовой техники"/>
    <meta name="description"
          content="Ремонт крупной и мелкой бытовой техники, мобильных телефонов"/>
    <title>Фиксики</title>
    <link href="css/fixies_forms.css" rel="stylesheet" type="text/css"/>
    <link href="css/fixies_fonts.css" rel="stylesheet" type="text/css"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
</head>
<body ng-app="fx-front">
<div id="fxContainer">

    <div id="fxMidContainer" ng-controller="indexController">

        <div id="fxTopLogo">
        </div>

        <div id="fxCredentialsBar">

            <div id="fxLoginBar">

                <div class="nav-item" ng-show="!isUserLoggedIn()">
                    <form class="align-middle" ng-submit="tryToAuth()">
                        <div class="input-group input-group-sm" style="padding: 4px;">


                            <input id="fxLoginEntryBar" ng-model="user.login" type="text" placeholder="Логин">

                            <input id="fxPasswordEntryBar" ng-model="user.password" type="password"
                                   placeholder="Пароль">

                            <button id="fxEntryButton"
                                    style="margin-left: 10px;" type="submit"><span
                                    class="credentialsBarFont"> Войти </span>
                            </button>

                        </div>
                    </form>

                </div>

                <div id="fxExitButtonContainer" ng-show="isUserLoggedIn()">
                    <button class="fxExitButton" ng-click="tryToLogout()"><span class="credentialsBarFont">Выйти</span>
                    </button>
                </div>
            </div>
            <div id="fxRegisterButton" ng-hide="isUserLoggedIn()">
                <a class="nav-link" href="#!/create_user"><span class="credentialsBarFont">Регистрация</span></a>

            </div>


        </div>

        <div id="fxMenuBar">


            <div class="fxTopHorizontalMenu">

                <a href="#!/" class="dropbtn"> Главная</a>
                <a href="#!/order_request" class="dropbtn">Оформление заказа</a>
                <a href="#!/order_status" class="dropbtn">Состояние заказа</a>
                <div class="dropdown" ng-hide="isUserAdmin()">
                    <button class="dropbtn">Меню администратора
                    </button>
                    <div class="dropdown-content">
                        <a href="#!/order_raise">Сформировать заказ</a>
                        <a href="#!/order_edit">Редактировать заказ</a>
                    </div>
                </div>
                <div class="dropdown" ng-hide="isUserMaster()">
                    <button class="dropbtn">Меню мастера
                    </button>
                    <div class="dropdown-content">
                        <a href="#!/order_se_edit">Дополнить заказ</a>
                    </div>
                </div>
                <div class="dropdown" ng-hide="isUserSuperUser()">
                    <button class="dropbtn">Меню сисадмина
                    </button>
                    <div class="dropdown-content">
                        <a href="#!/order_se_edit">Панель управления</a>
                    </div>
                </div>

            </div>

        </div>

        <div id="fxBottomLogo">
            <div id="copyrightContainer">
                <span class="bottomLogoText"> 2022 &copy; Фиксики  </span>
            </div>
        </div>
    </div>

</div>

<script src="index.js"></script>
<script src="front_page/front_page.js"></script>
<script src="order_request/order_request.js"></script>
<script src="order_status/order_status.js"></script>
<script src="order_edit/order_edit.js"></script>
<script src="panel/panel.js"></script>
<script src="create_user/create_user.js"></script>

</body>
</html>